{% extends 'dashboard.base.html.twig' %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ 'Labs': path('labs') }) -%}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {% set category = 'labs' %}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
    <div class="top-panel">
            <div class="quick-actions">
                {% if is_granted('ROLE_ADMINISTRATOR') %}
                    <a class="btn btn-success" role="button" href="{{
                    path('new_lab') }}">{{ 'New Lab'|trans }}</a>
                {% endif %}
            </div>
        <ul class="nav-links nav nav-tabs">
            {# <li><a href="#"><span>Started</span> <span class="badge badge-pill">0</span></a></li>
            <li><a href="#"><span>Stopped</span> <span class="badge badge-pill">0</span></a></li> #}
            <li class="active">
                <a href="{{ path('labs') }}">
                    <span>All</span> <span class="badge badge-pill">{{ count }}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="search-panel">
        <form action="{{ path('labs') }}" method="GET">
            <input type="search" class="form-control input-sm" name="search"
            placeholder="Search by name"
            spellcheck="false" value="{{ search|default('') }}" type="search">
        </form>
    </div>
    <div class="labs-panel">
    {% for lab in labs %}
        <div class="wrapper d-flex align-items-center {% if not loop.last %}border-bottom{% endif %} lab-item">
            <div class="lab-item-left d-flex flex-column">
                <div>
                    <a href="{{ path('show_lab', {'id': lab.id}) }}" class="lab-item-name">
                        {{- lab.name -}}
                    </a>
                </div>
                <div class="lab-item-infos text-muted">
                    !{{ lab.id }} · created
                    <span class="timeago" datetime="{{ lab.createdAt|date('m/d/Y H:i:s') }}" data-toggle="tooltip" data-placement="bottom" title="{{ lab.createdAt|date('M d, Y h:ia') }}"></span>
                    by
                    <a href="{{ path('labs', app.request.query|merge({author: lab.author.id})) }}" data-toggle="tooltip" data-placement="top" title="See all labs by {{lab.author.name}}">
                        <img src="/users/{{lab.author.id}}/picture?size=17" alt="{{lab.author.name}}" class="rounded-circle v-bottom" />
                        <span class="lab-item-author" >{{ lab.author.name }}</span>
                    </a>
                </div>
            </div>
            <div class="separator flex-grow-1"></div>
            <div class="lab-item-right d-flex flex-column text-right">
                <div>
                    {# <div class="d-inline" data-toggle="tooltip" data-placement="top" title="Related activities">
                        <span {% if lab.activities|length == 0 %}class="lab-item-counter-empty"{% endif -%}>
                            <span>{{ svg('review-list', 'image-sm v-sub') }}</span> {{ lab.activities|length }}
                        </span>
                    </div> #}

                    <div class="d-inline ml-2" data-toggle="tooltip" data-placement="top" title="Devices">
                        <span {% if lab.devices|length == 0 %}class="lab-item-counter-empty"{% endif -%}>
                            <span>{{ svg('monitor-o', 'image-sm v-sub') }}</span> {{ lab.devices|length }}
                        </span>
                    </div>
                </div>
                <div class="lab-item-infos text-muted">updated <span class="timeago" datetime="{{ lab.lastUpdated|date('m/d/Y H:i:s') }}" data-toggle="tooltip" data-placement="bottom" title="{{ lab.lastUpdated|date('M d, Y h:ia') }}"></span></div>
            </div>
        </div>
    {% endfor %}
    </div>
    
    {% set pagesNumber = count > limit ? count // limit + 1 : 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination mt-3 justify-content-center">
            <li class="page-item {% if page <= 1 %}disabled{%endif%}">
                <a class="page-link" href="{{ path('labs', app.request.query|merge({page: page-1})) }}">Previous</a>
            </li>
            {% for i in 1.. pagesNumber %}
                <li class="page-item {% if i == page %}active{%endif%}"><a class="page-link" href="{{ path('labs', app.request.query|merge({page: i})) }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item {% if page >= pagesNumber %}disabled{%endif%}">
                <a class="page-link" href="{{ path('labs', app.request.query|merge({page: page+1})) }}">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('timeago') }}
{% endblock %}