<html>
    <head>
        <title>{{lab.name}} - {{device.name}}</title>
    </head>
    <body style="margin:0;">
        <div id="noVNC_screen">

        </div>
        <div class="js-user-rating" data-host="{{host}}" data-port="{{port}}" data-path="{{path}}">

        </div>
    </body>
</html>

{% block javascripts %}
    {{ encore_entry_script_tags('vnc') }}
{% endblock %}