{% extends 'lab/index.html.twig' %}

{% block title %}
    {{ lab.name }}: {{ device.name }}
{% endblock %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ (device.name): path('show_device', {'id': device.id}) }) -%}
    {%- set breadcrumbs = breadcrumbs|merge({ (lab.name): path('show_lab', {'id': lab.id}) }) -%}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
<div class="content-title">
    <div class="content-title-infos"><h1>{{ device.name }}</h1></div>
    <div class="content-title-actions">
        <a href="{{ path('view_instance', {'uuid': uuid, 'size': 'fullscreen'}) }}" class="btn btn-primary" role="button" target="OpenVNCFullscreen.{{device.name}}" onclick="openFullscreen(); return false;">
            {{ svg('external-link') }}
        </a>
    </div>
</div>
<div class="content-body">
    <div class="card stretch-card">
        <div class="card-body">
            <div id="noVNC_screen" style="height:1000px;"></div>
            <div class="js-user-rating" data-host="{{host}}" data-port="{{port}}" data-path="{{path}}"> </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vnc') }}

    <script type="text/javascript">
        var WindowObjectReference = null; // variable globale
        
        function openFullscreen() {
          if (WindowObjectReference == null || WindowObjectReference.closed) {
            /* si le pointeur vers l'objet window n'existe pas, ou s'il existe
               mais que la fenêtre a été fermée */
            WindowObjectReference = window.open("{{ path('view_instance', {'uuid': uuid, 'size': 'fullscreen'}) }}",
                   "OpenVNCFullscreen"+"{{device.name}}", "resizable=yes,scrollbars=yes,status=no,location=no,menubar=no,toolbar=no");
            /* alors, création du pointeur. La nouvelle fenêtre sera créée par dessus
               toute autre fenêtre existante. */
          }
          else {
            WindowObjectReference.focus();
            /* sinon, la référence à la fenêtre existe et la fenêtre n'a pas été 
               fermée: la fenêtre est peut-être minimisée ou derrière la fenêtre 
               principale. Par conséquent, on peut l'amener par dessus les autres à
               l'aide de la méthode focus(). Il n'est pas nécessaire de recréer la fenêtre
               ou de recharger la ressource référencée. */
          };
        }
        </script>
{% endblock %}