form {
    .form-control {
        color: #2e2e2e;
    }

    input {
        font-size: 1rem !important;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #919191 !important;
        opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #919191 !important;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #919191 !important;
    }

    label {
        .visibility-help {
            margin-top: -5px;
            margin-left: 24px;
            font-weight: 400;
        }
    }
}

input {
    font-size: 1rem !important;
}

select {
    font-size: 1rem !important;
}

.form-actions
{
  padding: 16px;
  border-top: 1px solid $border-color;

  .btn.btn-secondary
  {
    float: right;
  }
}

[theme="dark"] {
    form .form-control,
    .form-control, input {
        background-color: theme-color("dark-lighter");
        border-color: lighten(theme-color("dark-lighter"), 7.5%);
        color: darken(theme-color("light"), 5%);

        &:focus {
            background-color: lighten(theme-color("dark-lighter"), 7.5%);
            color: theme-color("light");
        }

        &:disabled {
            border-color: theme-color("dark-lighter");
            background-color: darken(theme-color("dark-lighter"), 5%);
        }
    }

    .form-control:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.75);
    }

    .input-group-text {
        background-color: darken(theme-color("dark-lighter"), 5%);
        border-color: lighten(theme-color("dark-lighter"), 7.5%);
        color: theme-color("light");
        fill: currentColor;
    }

    .form-actions {
        border-top-color: lighten(theme-color("dark-lighter"), 7.5%);
    }

    .react-select-container {

        &.inline {
            .react-select__control {
                min-height: 0;
            }

            .react-select__value-container {
                padding: 1.5px 8px;
                min-width: 100px;
            }

            .react-select__indicator {
                padding: 0px 8px;
            }
        }

        .react-select__control {
            border-color: lighten(theme-color("dark-lighter"), 7.5%);
            background-color: theme-color("dark-lighter");
        }

        .react-select__value-container {
            color: theme-color("light");
        }

        .react-select__single-value {
            color: theme-color("light");
        }

        .react-select__multi-value {
            color: theme-color("light");
            background-color: theme-color("dark");
            border-color: lighten(theme-color("dark"), 7.5%);

            .react-select__multi-value__label {
                color: theme-color("light");
            }
        }

        .react-select__input {
            color: theme-color("light");
        }

        .react-select__menu {
            background-color: theme-color("dark-lighter");

            .react-select__option {
                &:hover {
                    background-color: lighten(theme-color("dark-lighter"), 7.5%);
                }

                &.react-select__option--is-selected {
                    background-color: lighten(theme-color("primary"), 30%);
                }

                &.react-select__option--is-focused {
                    background-color: lighten(theme-color("dark-lighter"), 7.5%);

                    &.react-select__option--is-selected {
                        background-color: lighten(theme-color("primary"), 35%);
                    }
                }
            }
        }
    }
}