{% extends 'dashboard.base.html.twig' %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ 'Instances': path('instances') }) -%}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {% set category = 'instances' %}
    {{ parent() }}
{% endblock %}

{% set filter = filter|default('all') %}
{% if filter not in ['all', 'labs', 'devices', 'networkInterfaces'] %}{% set filter = 'all' %}{% endif %}

{% block wrapper %}
    <div class="top-panel">
            <div class="quick-actions">
                {% if is_granted('ROLE_ADMINISTRATOR') %}
                {% endif %}
            </div>
        <ul class="nav-links nav nav-tabs">
            {# <li class="active"><a href="#"><span>Started</span> <span class="badge badge-pill">0</span></a></li>
            <li><a href="#"><span>Stopped</span> <span class="badge badge-pill">0</span></a></li> #}
            <li {% if filter == "all" %}class="active"{% endif %}>
                <a href="?filter=all">
                    <span>All</span> <span class="badge badge-pill">{{ labInstances|length + deviceInstances|length + networkInterfaceInstances|length }}</span>
                </a>
            </li>
            <li {% if filter == "labs" %}class="active"{% endif %}>
                <a href="?filter=labs">
                    <span>Labs</span> <span class="badge badge-pill">{{ labInstances|length }}</span>
                </a>
            </li>
            <li {% if filter == "devices" %}class="active"{% endif %}>
                <a href="?filter=devices">
                    <span>Devices</span> <span class="badge badge-pill">{{ deviceInstances|length }}</span>
                </a>
            </li>
            <li {% if filter == "networkInterfaces" %}class="active"{% endif %}>
                <a href="?filter=networkInterfaces">
                    <span>Network Interfaces</span> <span class="badge badge-pill">{{ networkInterfaceInstances|length }}</span>
                </a>
            </li>
        </ul>
    </div>
    {# <div class="search-panel">
        <form action="{{ path('instances') }}" method="GET">
            <input type="search" class="form-control input-sm" name="search"
            placeholder="Search by name"
            spellcheck="false" value="{{ search|default('') }}" type="search">
        </form>
    </div> #}
    <div class="labs-panel">

    {% if filter == "all" or filter == "labs" %}
        {#- Lab instances -#}

        <h4 class="p-3 border-bottom">Lab instances</h4>
        {% if labInstances is empty %}
        <div class="wrapper align-items-center p-3 border-bottom lab-item">
            <span class="lab-item-name">
                None
            </span>
        </div>
        {% endif %}
        {% for instance in labInstances %}
        <div class="wrapper align-items-center p-3 {% if not loop.last %}border-bottom{% endif %} lab-item">
            {# <div class="float-right">
                {% if not instance.state == 'started' %}
                <a href="{{ path('start_lab', {'id': instance.lab.id}) }}" class="btn btn-success" role="button" title="Start lab" data-toggle="tooltip" data-placement="top">
                        {{ svg('play') }}
                </a>
                <a href="{{ path('delete_instance', {'id': instance.id, 'type': 'lab'}) }}" class="btn btn-danger" role="button" title="Delete instance" data-toggle="tooltip" data-placement="top">
                        {{ svg('close') }}
                </a>
                {% else %}
                <a href="{{ path('stop_lab', {'id': instance.lab.id}) }}" class="btn btn-danger" role="button" title="Stop lab" data-toggle="tooltip" data-placement="top">
                    {{ svg('stop') }}
                </a>
                {% endif %} 
            </div> #}

            <div>
                <div>
                    <a href="{{- path('show_lab', {'id': instance.lab.id}) -}}" class="lab-item-name" title="{{ instance.lab.name }}" data-toggle="tooltip" data-placement="top">
                        {{- instance.uuid -}}
                    </a>
                </div>
                {# <span>
                    {% if instance.isStarted %}
                        <label class="badge badge-success">Started</label>
                    {% elseif instance.deviceInstances|length > 0 %}
                        <label class="badge badge-warning">Partially started</label>
                    {% else %}
                        <label class="badge badge-danger">Not started</label>
                    {% endif %}
                </span> #}
                <p class="text-muted d-inline">
                    {% if not instance is null %} {# In some cases, one instance can stay up but it is empty. It's an issue to solve #}
                        {% if instance.isOwnedByUser() %}
                            Owned by user {{ instance.user.name }}
                        {% else %}
                            Owner by group {{ instance.group.name }}
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    {% if filter == "all" or filter == "devices" %}
        {#- Devices instances -#}

        <h4 class="p-3 border-bottom">Device instances</h4>
        {% if deviceInstances is empty %}
        <div class="wrapper align-items-center p-3 border-bottom lab-item">
            <span class="lab-item-name">
                None
            </span>
        </div>
        {% endif %}
        {% for instance in deviceInstances %}
        <div class="wrapper align-items-center p-3 {% if not loop.last %}border-bottom{% endif %} lab-item">
            <div class="float-right">
                {% if not instance.isStarted %}
                <a href="{{ path('start_lab_device', {'labId': instance.lab.id, 'deviceId': instance.device.id}) }}" class="btn btn-success" role="button" title="Start device" data-toggle="tooltip" data-placement="top">
                        {{ svg('play') }}
                </a>
                <a href="{{ path('delete_instance', {'id': instance.id, 'type': 'device'}) }}" class="btn btn-danger" role="button" title="Delete instance" data-toggle="tooltip" data-placement="top">
                        {{ svg('close') }}
                </a>
                {% else %}
                <a href="{{ path('stop_lab_device', {'labId': instance.lab.id, 'deviceId': instance.device.id}) }}" class="btn btn-danger" role="button" title="Stop device" data-toggle="tooltip" data-placement="top">
                    {{ svg('stop') }}
                </a>
                {% endif %} 
            </div>

            <div>
                <div>
                    <a href="{{- path('show_device', {'id': instance.device.id}) -}}" class="lab-item-name">
                        {{- instance.uuid -}}
                    </a>
                </div>
                <span>
                    {% if instance.isStarted %}
                        <label class="badge badge-success">Started</label>
                    {% else %}
                        <label class="badge badge-danger">Not started</label>
                    {% endif %}
                </span>
                <p class="text-muted d-inline">
                    ·
                    {% if instance.isOwnedByUser() %}
                        Owned by user {{ instance.user.name }}
                    {% else %}
                        Owner by group {{ instance.group.name }}
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    {% if filter == "all" or filter == "networkInterfaces" %}
        {#- Network interface instances -#}

        <h4 class="p-3 border-bottom">Network interface instances</h4>
        {% if networkInterfaceInstances is empty %}
        <div class="wrapper align-items-center p-3 border-bottom lab-item">
            <span class="lab-item-name">
                None
            </span>
        </div>
        {% endif %}
        {% for instance in networkInterfaceInstances %}
        <div class="wrapper align-items-center p-3 {% if not loop.last %}border-bottom{% endif %} lab-item">
            <div class="float-right">
                {# {% if not instance.state == 'started' %}
                <a href="{{ path('delete_instance', {'id': instance.id, 'type': 'network-interface'}) }}" class="btn btn-danger" role="button" title="Delete instance" data-toggle="tooltip" data-placement="top">
                        {{ svg('close') }}
                </a>
                {% endif %} #}
            </div>

            <div>
                <div>
                    <a href="{{- path('network_interfaces', {'id': instance.networkInterface.id}) -}}" class="lab-item-name">
                        {{- instance.uuid -}}
                    </a>
                </div>
                <span>
                    {# {% if instance.isStarted %}
                        <label class="badge badge-success">Started</label>
                    {% else %}
                        <label class="badge badge-danger">Not started</label>
                    {% endif %} #}
                </span>
                <p class="text-muted d-inline">
                    ·
                    {% if instance.isOwnedByUser() %}
                        Owned by user {{ instance.user.name }}
                    {% else %}
                        Owner by group {{ instance.group.name }}
                    {% endif %}
                    ·
                    Port : <kbd>{{ instance.remotePort }}</kbd>
                </p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}