/* Forms */

.input-group-append,.input-group-prepend {
  background: color(white);
  color: $input-placeholder-color;
  width: auto;
  border: none;
  .input-group-text{
    background: transparent;
    border-color: $border-color;
    border-width: 1px;
  }
}
.form-control {
  border: 1px solid $border-color;
  font-size: $input-font-size;
  padding: $input-btn-padding-y $input-btn-padding-x;
  line-height: 1.5;
  font-family: $TYPE-2;
  font-weight: 400;
  @include border-radius(4px);
  &.form-control-lg {
    padding: $input-btn-padding-y $input-btn-padding-x;
  }
  &.form-control-sm {
    padding: $input-btn-padding-y $input-btn-padding-x;
  }
  @include input-placeholder{
    font-family: $TYPE-2;
    font-weight: 400;
    color: #919191;
  }
}

select {
  font-family: $TYPE-2;
  font-weight: 500;
  &.form-control {
    padding: .4375rem .75rem;
  }
}
.form-group {
  label {
    font-size: $default-font-size;
    line-height: 1;
    vertical-align: top;
  }
  &.has-danger {
    .form-control {
      border-color: theme-color(danger);
    }
  }
  .file-upload-default {
    visibility: hidden;
    position: absolute;
  }
  .file-upload-info {
    background: transparent;
  }
}
