{% extends 'dashboard.base.html.twig' %}

{% block header %}
    {% set category = 'dashboard_groups' %}
    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
    {% set breadcrumbs = breadcrumbs|merge({ 'Members': path('dashboard_group_members', {'slug': group.path}) }) %}
    {% set breadcrumbs = breadcrumbs|merge({ (group.name): path('dashboard_show_group', {'slug': group.path}) }) %}
    {{ parent() }}
{% endblock %}

{% macro groupParent(group) %}
    {% if group.parent is not null %}{{ _self.groupParent(group.parent) }} {{ group.parent.name }} /{% endif %}
{% endmacro %}

{% block sidebar %}
    {% set category = 'dashboard_group_members' %}
    {% include "group.sidebar.html.twig" %}
{% endblock %}

{% block wrapper %}
    {% macro groupParent(group) %}
       {% if group.parent is not null %}{{ _self.groupParent(group.parent) }} <a href="{{ path('admin_show_group', {slug: group.parent.path}) }}">{{ group.parent.name }}</a> /{% endif %}
    {% endmacro %}
    <div class="content-title">
        <div class="content-title-infos">
            <h3>Members</h3>
        </div>
    </div>
    <div class="content-body">
        <div class="row">
            <div class="col">
                {% if is_granted('add_member', group) %}
                    <p>
                        Add new member(s) to <strong>{{group.name}}</strong>
                    </p>
                    <form action="{{ path('add_user_group', {slug: group.path}) }}" method="POST">
                        <div class="d-flex">
                            <div class="flex-grow-1 mr-2">
                                <div>{{ react_component('UserSelect') }}</div>
                                <div class="form-text text-muted">
                                    Search for members by name or email address.
                                </div>
                            </div>
                            
                            <div class="mr-2 w-25">
                                <select class="form-control" name="role" id="Role" style="height:38px;">
                                    <option value="user">User</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>
                            <div>
                               <button type="submit" class="btn btn-success">Add selected user(s)</button> 
                            </div>
                        </div>
                        
                    </form>
                {% endif %}
                <div class="top-panel">
                    <ul class="nav-links nav nav-tabs">
                        <li class="active">
                            <a href="#currentMembers" id="currentMembers">
                                <span>Current</span> <span class="badge badge-pill">{{ group.users|length }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                {# <div class="search-panel">
                    <form action="{{ path('labs') }}" method="GET">
                        <input type="search" class="form-control input-sm" name="search"
                        placeholder="Search by name"
                        spellcheck="false" value="{{ search|default('') }}" type="search">
                    </form>
                </div> #}
                <div class="labs-panel">
                    {% for user in group.users %}
                        <div class="lab-item {% if not loop.last %}border-bottom{% endif %}">
                            <div class="d-flex align-items-center">
                                <img src="/users/{{user.id}}/picture?size=32" alt="{{user.name}}" class="rounded-circle s40 mr-3" />

                                <div class="d-flex flex-column">
                                    <div class="fw600">
                                        <span class="fw600">{{ user.name }}</span>
                                        {% if user.id == app.user.id %}
                                            <label class="badge badge-success ml-2 mb-0">It's you!</label>
                                        {% endif %}
                                        {% if group.isOwner(user) %}
                                            <label class="badge badge-info ml-2 mb-0">Owner</label>
                                        {% endif %}
                                        {% if group.isAdmin(user) %}
                                            <label class="badge badge-warning ml-2 mb-0">Admin</label>
                                        {% endif %}
                                    </div>
                                    <div class="text-muted">{{ user.email }}</div>
                                </div>
                                <div class="flex-grow-1"></div>
                                {% if not (group.isOwner(user) or user is same as(app.user)) %}
                                    <div style="min-width: 150px">
                                        {{- react_component('GroupRoleSelect', {'props': {'role': group.getUserRole(user), 'user': user.id, 'group': group.path}}) -}}
                                    </div>
                                    <div class="ml-2">
                                        <a href="{{ path('remove_user_group', {slug: group.path, userId: user.id}) }}" class="btn btn-danger">{{ svg('remove') }}</a>
                                    </div>
                                {% endif %} 
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}