{% extends 'base.html.twig' %}

{% set breadcrumbs = breadcrumbs | default({}) %}

{% block header %}
  {% include "header.html.twig" %}
{% endblock %}

{% block body %}
  <div class="page-body-wrapper">
    {% block sidebar %}
      {% if '/admin' in app.request.uri %}
        {# Admin zone #}
        {% include "sidebar.admin.html.twig" %}
      {% else %}
        {% include "sidebar.html.twig" %}
      {% endif %}
    {% endblock %}

    
    <div class="content-wrapper">
      {% if block('wrapper_xl') is defined and block('wrapper_xl') is not empty %}
      <div class="container-fluid container-limited-xl">
      {% else %}
      <div class="container-fluid container-limited">
      {% endif %}
        <div class="container-header-wrapper d-flex">
          <div class="show-sidebar">{{ svg('hamburger', 'image-sm') }}</div>
          {% block breadcrumbs %}
            <div class="breadcrumb">
              {% if '/admin' in app.request.uri %}
                {% set breadcrumbs = breadcrumbs | merge({ 'Admin Area': path('users') }) %}
              {% else %}
                {% set breadcrumbs = breadcrumbs | merge({}) %}
              {% endif %}
              {% for breadcrumb, link in breadcrumbs|reverse(true) %}
                <div class="breadcrumb-item">
                  {% if link is not null %}
                    <a href="{{ link }}">{{ breadcrumb }}</a>
                  {% else %}
                    <span>{{ breadcrumb }}</span>
                  {% endif %}
                  {%- if not loop.last -%}{{ svg('angle-right')}}{%- endif -%}
                </div>
              {% endfor %}
            </div>
          {% endblock %}
        </div>
      </div>
      {% if block('wrapper_xl') is defined and block('wrapper_xl') is not empty %}
      <div class="container-fluid container-limited-xl">
      {% else %}
      <div class="container-fluid container-limited">
      {% endif %}
        <div class="flashbag-container">
          {%- for label, messages in app.flashes -%}
            {%- for message in messages -%}
              <div class="flash-notice alert alert-{{ label }} alert-dismissible fade show">
                <button aria-label="Close" class="close" data-dismiss="alert" type="dismiss">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </div>
            {%- endfor -%}
          {%- endfor -%}
        </div>
        {% if block('wrapper_xl') is defined and block('wrapper_xl') is not empty %}
          {{ block('wrapper_xl') }}
        {% else %}
          {{ block('wrapper') }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

