{% extends 'dashboard.base.html.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs = breadcrumbs|merge({ 'Users': path('users') }) %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {% set category = 'users' %}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
    {% embed 'modal.html.twig' with {'title': 'Import from file'|trans, 'class': 'import-user-modal'} %}
        {% block body %}
            <p>The CSV file must contains user informations in the following format:
                <br>
                <br>
                <kbd>lastName,firstName,email,password</kbd>
                <br>
                <br>
                <span class="text-danger">Warning:</span> Lines with an already used e-mail will be silently ignored.
            </p>
            {{ form(addUserFromFileForm, {'id': 'addUserFromFileForm'}) }}
        {% endblock %}
    {% endembed %}

    <div class="top-panel">
        <div class="quick-actions">
            {% if is_granted('ROLE_ADMINISTRATOR') %}
                <a href="{{ path('new_user') }}" class="btn btn-success">{{ 'New user'|trans }}</a>
                <button class="btn btn-info" data-target=".import-user-modal" data-toggle="modal" type="button">
                    <i class="fa fa-upload"></i> {{ 'Import from file'|trans }}
                </button>
            {% endif %}
        </div>
        <ul class="nav-links nav nav-tabs">
            <li class="active">
                <a href="#">
                    <span>All</span> <span class="badge badge-pill">{{ users|length }}</span>
                </a>
            </li>
            <li><a href="#"><span>Admins</span> <span class="badge badge-pill">0</span></a></li>
            <li><a href="#"><span>Teachers</span> <span class="badge badge-pill">0</span></a></li>
            <li><a href="#"><span>Students</span> <span class="badge badge-pill">0</span></a></li>
        </ul>
    </div>

    <div class="search-panel">
        <form action="{{ path('users') }}" method="GET">
            <div class="search-field">
                <i class="fa fa-search"></i>
                <input type="search" class="form-control input-sm" name="search" placeholder="Search by name or email" spellcheck="false" value="{{ search|default('') }}" type="search" />
            </div>
        </form>
    </div>

    <div class="table-responsive item-panel user-panel">
        {% if users|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Created on</th>
                        <th scope="col">Last activity</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <div class="wrapper d-flex align-items-center item">
                                    <div class="item-user-avatar mr-2">
                                        <img src="/users/{{user.id}}/picture?size=32" alt="{{user.name}}" class="rounded-circle" />
                                    </div>
                                    <div class="item-left d-flex flex-column">
                                        <div>
                                            <a href="{{ path('edit_user', {'id': user.id}) }}" class="item-name">
                                                {{- user.name -}}
                                            </a>
                                            {% if 'ROLE_ADMINISTRATOR' in user.roles or 'ROLE_SUPER_ADMINISTRATOR' in user.roles %}
                                                <label class="badge badge-success">Admin</label>
                                            {% elseif 'ROLE_TEACHER' in user.roles %}
                                                <label class="badge badge-info">Teacher</label>
                                            {% endif %}
                                            {% if not user.enabled %}
                                                <label class="badge badge-warning">Blocked</label>
                                            {% endif %}
                                            {% if user.email == app.user.email %}It's you!{% endif %}
                                        </div>
                                        <div>
                                            <a href="mailto:{{user.email}}" class="item-user-email">
                                                {{- user.email -}}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-right d-flex flex-column text-right">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="timeago" datetime="{{ user.createdAt|date }}" data-toggle="tooltip" data-placement="top" title="{{ user.createdAt|date('M d, Y h:ia') }}"></span>
                            </td>
                            <td>
                                {% if user.lastActivity is not null %}
                                    <span class="timeago" datetime="{{ user.lastActivity|date }}" data-toggle="tooltip" data-placement="top" title="{{ user.lastActivity|date('M d, Y h:ia') }}"></span>
                                {% else %}
                                    Never
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <a class="btn btn-default" href="/admin/users/{{user.id}}/edit">Edit</a>
                                <a class="btn btn-default" href="#" id="dropdownUserSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user-cog"></i>
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserSettings" style="position: absolute; will-change: transform;">
                                <div class="dropdown-header">
                                    Settings
                                </div>
                                <a class="dropdown-item text-warning" href="{{ path('toggle_user', {id: user.id}) }}">Block</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="{{ path('delete_user', {id: user.id}) }}">Delete user</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="p-4 text-center">
                No users found
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('timeago') }}
{% endblock %}