{% extends 'dashboard.base.html.twig' %}

{% block breadcrumbs %}
    {%- set breadcrumbs = breadcrumbs|merge({ 'Edit profile': path('user_profile') }) -%}
    {{ parent() }}
{% endblock %}

{% block wrapper %}
    <div class="panel prepend-top-default">
        <div class="row">
            <div class="col-lg-4">
                <h1>Profile picture</h1>
                <p class="text-muted">You can change your public avatar here. If you don't set an avatar, it will be fetched via <a href="https://gravatar.com">gravatar.com</a>.</p>
            </div>
            <div class="col-lg-8">
                <div id="root"></div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <h1>Main settings</h1>
                <p class="text-muted">This information will appear on your profile</p>
            </div>
            <div class="col-lg-8">
                {{ form(userForm) }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <h1>Password settings</h1>
                <p class="text-muted">You can change your password here</p>
            </div>
            <div class="col-lg-8">
                {{ form(passwordForm) }}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}